.death.knight, .death-knight { color: #C41F3B; }
.demon.hunter, .demon-hunter { color: #A330C9; }
.druid { color: #FF7D0A; }
.hunter { color: #ABD473; }
.mage { color: #69CCF0; }
.monk { color: #00FF96; }
.paladin { color: #F58CBA; }
.priest { color: #FFFFFF; }
.rogue { color: #FFF569; }
.shaman { color: #0070DE; }
.warlock { color: #9482C9; }
.warrior { color: #C79C6E; }

.class-icon { width: 18px; }
.class-icon.2x { width: 24px; }
.class-icon.3x { width: 32px; }
.class-icon.4x { width: 36px; }
.class-icon.5x { width: 42px; }
