// variables
@import "../variables";

.carousel {
    &-inner {
        .item {
            max-height: 100vh;
            overflow: hidden;
        }
    }

    &-caption {
        left: 5%;
        right: auto;
        bottom: 15%;
        max-width: 50%;
        padding: 10px 30px;
        background-color: rgba(209, 83, 75, 0.8);

        h2, h3, p {
            text-align: left;
            color: #fff;
        }

        @media screen and (max-width: 768px) {
            max-width: 90%;
        }
    }
}