// variables
@import "../variables";

.icon {
    &--arrow-down {
        position: absolute;
        top: auto;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, -10%);
        font-size: 4em;
        color: #fff;
        background: rgba(0, 0, 0, 0.1);
        padding: 8px 10px 0 14px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 0 5px #000;

        &:hover {
            transform: translate(-50%, 0);
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}