// variables
@import "../variables";

.progress-tile {

    h2, h3, h4 {
        text-align: center;
    }

    ul {
        text-align: center;

        li {
            padding: 0 1em;

            .kills, .difficulty, .icon {
                display: block;
                margin-top: 5px;
            }

            .kills {
                font-weight: 600;
                font-size: 1.6em;
            }

            .icon {
                .glyphicon {
                    &-ok {
                        color: $brand-success;
                    }

                    &-hourglass {
                        color: $brand-warning;
                    }

                    &-remove {
                        color: $brand-danger;
                    }
                }
            }
        }
    }
}